<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.heynow.savitar.help</string>
  <key>CFBundleName</key>
  <string>Savitar Help</string>
  <key>CFBundlePackageType</key>
  <string>BNDL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>HPDBookAccessPaths</key>
  <array/>
  <key>HPDBookIndexPath</key>
  <string>Savitar.helpindex</string>
  <key>HPDBookTitle</key>
  <string>Savitar Help</string>
  <key>HPDBookTopicListCSSPath</key>
  <string>savitar-help.css</string>
  <key>HPDBookTopicListXHTMLPath</key>
  <string>index.html</string>
</dict>
</plist>
